<%- include('../Partials/header/header.ejs'); %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS Section-->
        <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
        <link rel='stylesheet' href='/Content/app.css' />

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap" rel="stylesheet">

    </head>

    <body >
    <div  id="mySurvey-body">
        <table class="table table-bordered table-striped table-hover" id="table-container-mySurveys">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Expires In</th>
                    <th scope="col">Responses</th>
                    <th scope="col">Share</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < survey.length; count++) { %>
                    <tr class="text-center">
                        <th scope="row"><%= count + 1 %></th>
                        <td>
                            <%= survey[count].surveyName %>
                        </td>
                        <td class="text-center">
                        <%= (survey[count].timeLeft / (1000*60*60*24)) %>
                        days
                        </td>
                        <td class="text-center">
                            <%= survey[count].responses %>
                        </td>
                        <td class="text-center "><button><a href="mailto:receiverName@mail.com">Share</a></button></td>
                        <td class="text-center "><a href="/survey/edit/<%= survey[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-pencil-alt"></i> Edit</a></td>

                        <td class="text-center "><a href="/survey/delete/<%= survey[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                    </tr>           
                    <%} %>
            </tbody>
        </table>
        <div class="button-container">
              <a href='/createSurvey' class="pushable" id="create-survey-btn">
       <span class="front"id="createSurveyButtonSpan" >
       + Create Survey
        </span> 
    </a>
        </div>
    </body>

          <!--JavaScript Section-->
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/app.js"></script>

    </div>
    </html>
 <%- include('../Partials/footer/footer.ejs'); %>