<%- include('../Partials/header/header.ejs'); %>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Client/Content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container" id="editQuestions-container">
    <% surveyQuestions.map((question, index) => { %>
  <h2 class='question-number'>Question <%= index + 1 %></h2>
      <input class='question-box' name="questonTitle" placeholder="<%=question[0] %>"/>
      
      <select name='surveyQuestionType' id='surveyType'>
      <option value='Survey Category'><%=question[1] %></option>
      <option value='Multiple-Choice'>Multiple Choice</option>
      <option value='Radio-Buttons'>Radio Buttons</option> 
      <option value='Text-Box'>Text Box</option> 
      <option value='Star-Rating'>Star Rating</option>
      </select>

   <% }) %>
    
    </div>
  </body>

  </html>
  <%- include('../Partials/footer/footer.ejs'); %>