<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS Section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />
    
</head>
<body>
    <center><h1>These are the Active Forms</h1></center>
    
    
    <table class="table" id="table-container">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Answer</th>
                    
                </tr>
            </thead>
            <tbody>

                      <% for(let count =0; count < SurveyList.length; count++) { %>
                      <tr>
                        <td scope="row"><p><%= SurveyList[count].name %></p></td>
                        <td>
                            <div class="text-center">
                                <a href="/take" class="btn btn-primary shadow-none take-button m-2">Take Survey</a>
                               <a href="list/edit/<%= SurveyList[count]._id %>" class="btn btn-warning shadow-none edit-button m-2">Edit</a>
                               <a href="list/delete/<%= SurveyList[count]._id %>" class="btn btn-danger shadow-none delete-button m-2">Delete</a>
                            </div>
                        </td>
                      </tr>
                      <% }  %>
                      
                    </tbody>
                  </table>








    <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
<%- include('../Partials/footer/footer.ejs'); %>