<%- include('../Partials/header/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--CSS Section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />
    
</head>
<body>
    <center><h1>These are the Active Forms</h1></center>
    
    
    <table class="table" id="table-container">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Answer this survey!</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < survey.length; count++) { %>
                    <tr>
                        <td>
                            <%= survey[count].surveyName %>
                        </td>
                        <td class="text-center">$<%= survey[count].lifeSpan %>
                        </td>
                        <td class="text-center">
                            <%= survey[count].respones %>
                        </td>
                        <td class="text-center">COllect results</td>
                        <td class="text-center"><button>Analyize</button></td>
                        <td class="text-center"><button>Share</button></td>
                        <td class="text-center"><a href="/survey/edit/<%= survey[count]._id %>" class="btn btn-primary btn-sm edit"> Edit</a></td>

                        <td class="text-center"><button type="button" class="delete-btn" data-toggle="modal"
                                data-target="#DeleteContactModal"
                                onclick="document.getElementById('id01').style.display='block'"
                                id="<%= survey[count]._id %>">Delete Survey</button></td>


                    </tr>

                    <%} %>
            </tbody>
        </table>








    <!--JavaScript Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
<%- include('../Partials/footer/footer.ejs'); %>