<%- include('../Partials/header/header.ejs'); %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--CSS Section-->
        <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
        <link rel='stylesheet' href='/Content/app.css' />

    </head>

    <body>
        <table class="table" id="table-container">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Expires In</th>
                    <th scope="col">Responces</th>
                    <th scope="col">Collect</th>
                    <th scope="col">Analyze</th>
                    <th scope="col">Share</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < survey.length; count++) { %>
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td>
                            <%= survey[count].surveyName %>
                        </td>
                        <td class="text-center">
                        <%= (survey[count].timeLeft / (1000*60*60*24)) %>
                        days
                        </td>
                        <td class="text-center">
                            <%= survey[count].respones %>
                        </td>
                        <td class="text-center">COllect results</td>
                        <td class="text-center"><button>Analyize</button></td>
                        <td class="text-center"><button>Share</button></td>
                        <td class="text-center"><a href="/survey/edit/<%= survey[count]._id %>" class="btn btn-primary btn-sm edit"> Edit</a></td>

                        <td class="text-center"><a href="/survey/delete/<%= survey[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>


                    </tr>           
                    

                            <%} %>
            </tbody>
        </table>
        <div class="button-container">
            <button class="create-survey-btn"> + Create Survey </button>
        </div>

        <!--JavaScript Section-->
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/app.js"></script>
    </body>

    </html>
    <%- include('../Partials/footer/footer.ejs'); %>